services:
  db:
    container_name: postgresql
    build:
      context: ./postgresql
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - app_network

  backend:
    container_name: backend
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/backend
    networks:
      - app_network
  
  frontend:
    container_name: frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
    environment:
      - VITE_API_URL=https://nginx/api/users
    networks:
      - app_network

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile 
    ports:
      # - "8090:80"
      - "4343:443"
    depends_on:
      - frontend
      - backend
    networks:
      - app_network

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    networks:
      - app_network

  redis:
    image: redis
    container_name: redis
    # ports:
    #   - "6380:6379"
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
