
@font-face {
    font-family: 'Millimetre-Light';
    src: url('../assets/millimetre/Millimetre-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Millimetre';
    src: url('../assets/millimetre/Millimetre-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.viewProfile {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("../assets/background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matchHistoryProfile {
    height: 70vh;
    border-radius: 50px;
    border: solid 4px #FFA69E;
    width: 100vh; 
    backdrop-filter: blur(5px);
    background-color: transparent;
}

.matchHistory-headerProfile {
	height: 58px;
	width: 100%;
	border-bottom: 1px solid #FAF3DD;
	display: flex;
	align-items: center;
	justify-content: center;
}

.writeHistoryProfile {
	font-family: 'Millimetre', sans-serif;
    font-size: 18px; 
    font-weight: bold;
	color: #AED9E0;
}

.matchHistory-contentProfile {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column;
}

.scrollable {
    overflow-y: auto;
    height: 65%;
    margin-right: 20px;
}

.scrollable::-webkit-scrollbar {
    width: 10px;
    background-color: #2a2c31;
}

.scrollable::-webkit-scrollbar-thumb {
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #AED9E0;
}


.matchHistory {
	font-family: 'Millimetre', sans-serif;
    font-size: 20px; 
    font-weight: bold;
	color: #FAF3DD;
}

.historyInfo {
	margin-top: 62px;
    display: flex;
	align-items: center;
	justify-content: center;
    
}

.historyItem {
    display: flex;              
    justify-content: flex-end;  
    width: 100%;                 
}

.historyItem-part {
    flex: 1;                     
    text-align: center;          
    padding: 10px;       
}

.modifyUsername {
	font-family: Millimetre;
    font-size: 18px; 
    font-weight: bold;
	color: #FAF3DD !important;
}

.modifyScorewin {
    font-size: 20px; 
    font-weight: bold;
	color: #B8F2E6;
    font-family: Millimetre-Light;
    border-bottom: 1px solid #B8F2E6;
}

.modifyScorelose {
    font-size: 20px; 
    font-weight: bold;
	color: #FFA69E;
    font-family: Millimetre-Light;
    border-bottom: 1px solid #FFA69E;
}

.modifylose {
	font-family: Millimetre;
    font-size: 18px; 
    font-weight: bold;
	color: #FFA69E;
}

.modifywin {
	font-family: Millimetre;
    font-size: 18px; 
    font-weight: bold;
	color: #B8F2E6;
}

.modifyUsername {
	font-family: Millimetre;
    font-size: 18px; 
    font-weight: bold;
	color: #AED9E0;
}

.win-loss-chart {
    max-width: 400px;
    margin: 0 auto;
}

.win-loss-chart .chartjs-render-monitor {
    border: 2px solid #FFA69E;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2); 
}

.win-loss-chart .chartjs-legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.win-loss-chart .chartjs-legend li {
    font-family: 'Millimetre', sans-serif;
    color: #FAF3DD; 
    margin: 0 10px;
}
