.custom2-cadre {
	position: absolute;
	margin-top: 170px !important;
	width: 80vw;
	height: 80vh;
	margin: 2.5vw auto;
	background-color: rgba(0, 0, 0, 0.35);
	border: 2px solid #FFA69E; ;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.img2-game {
	position: absolute;
	top: 2.6vh;
	right: 1.9vw;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
	border-radius: 2vw;
	height: 100vw;
	max-width: 100vw;
	height: 70vh;
}
