@font-face {
  font-family: 'Millimetre';
  src: url('../assets/millimetre/Millimetre-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.gameSettingsGlobalContainer {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameSettingsContainer {
  position: absolute;
  display: flex;
  margin-top: 110px !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.35);
  border: 2px solid #FFA69E;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  padding: 40px;
  border-radius: 10px;
}

.gameSettings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.sectionHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  color: #FAF3DD;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 20px;
  color: #FAF3DD;
  width: 100%;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-right: 10px;
}

.miniPongContainer {
  border-radius: 50px;
  border: 3px solid #161719;
  background: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
  overflow: hidden;
}

.keyBindContainer {
  border-radius: 50px;
  border: 3px solid #161719;
    background: transparent;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50%;
}

.SkinContainer {
  border-radius: 50px;
  border: 3px solid #161719;
  background: transparent;
  border-radius: 20px;
  width: 80%;
  padding:20px;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container label {
  cursor: pointer;
  position: relative;
  width: 120px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label input {
  appearance: none;
}

.container label span {
  position: absolute;
  width: auto;
  min-width: 150px;
  height: 100%;
  background: linear-gradient(#555353, #363535, #303030);
  border: 2px solid #222;
  border-top-width: 4px;
  border-radius: 6px;
  box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.23), 0 5px 5px rgba(0, 0, 0, 0.5),
    0 15px 25px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: 'Millimetre';
  color: #111;
  padding: 0 10px;
}

.container label span::before {
  content: "";
  position: absolute;
  border-top: 1px solid #fff;
  inset: 5px 3px;
  filter: blur(5px);
}

.container label input:checked~span {
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35),
    inset 0 5px 5px rgba(0, 0, 0, 0.5), inset 0 15px 25px rgba(0, 0, 0, 0.35);
  color: #fff;
  text-shadow: 0 0 5px #219cf3, 0 0 8px #219cf3;
}

.container label span i {
  margin-top: 5px;
  margin-right: 20px;
}

.carouselContainer {

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 30%;
 
}

.carouselButtonLeft {
  background-color: #cdb4db ;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carouselButtonRight {
  background-color: #cdb4db ;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carouselContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.skinName {
  margin-top: 10px;
  font-size: 18px;
  color: white;
}

.selectSkinButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #219cf3;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.paddleSkinContainer {
  color: #FAF3DD;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 20%;
  border-radius: 20px;
  margin: 5px;
}

.boardSkinContainer {
  color: #FAF3DD;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 60%;
  border-radius: 20px;
  margin: 5px;
}

.ballSkinContainer {
  color: #FAF3DD;
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 100%;
  height: 20%;
  margin: 5px;
}

/* Padlle Skin */

.defaultPaddle {
  background-color: #ffffff;
  width: 90px;
  height: 10px;
  position: absolute;
  display: block;
}

.radientPaddle {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  width: 90px;
  height: 10px;
  position: absolute;
  display: block;
}

.neonPaddle {
  background: black;
  width: 90px;
  height: 10px;
  position: absolute;
  display: block;
  box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  animation: neonGlow 2s infinite alternate;
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  }
  50% {
    box-shadow: 0 0 15px #ff00ff, 0 0 25px #00ffff, 0 0 40px #00ffff;
  }
  100% {
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  }
}

.redPaddle {
  background-color: #FF0000;
  width: 90px;
  height: 10px;
  position: absolute;
  display: block;
}


/* Board Skin */

.defaultBoard {
  background: radial-gradient(circle, #5E6472 0%, #24272c 100%);
  width: 180px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.oldBoard {
  background: black;
  width: 180px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.pingPongBoard {
  background: #008000;
  width: 180px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.npatronBoard{
  background-image: url("../../assets/game/npatron.png");
  background-size: cover;
  width: 180px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

/* Ball Skin */

.defaultBall {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
}

.radientBall {
  width: 15px;
  height: 15px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  border-radius: 50%;
  position: absolute;
}

.neonBall {
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  animation: neonGlow 2s infinite alternate;
}

.oldBall {
  width: 15px;
  height: 15px;
  background: white;
  position: absolute;
}

.pingPongBall {
  width: 15px;
  height: 15px;
  background: #FFCC00;
  position: absolute;
  border-radius: 50%;
}