@font-face {
    font-family: 'Millimetre';
    src: url('../assets/millimetre/Millimetre-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.status.online {

    font-family: 'Millimetre', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #B8F2E6;
}

.status.offline {

    font-family: 'Millimetre', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #FFA69E;
}

.invite-toGame-friends-list {
    position: fixed;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    height: 600px;
    border-radius: 50px;
    border: 3px solid #161719;
    width: 300px;
    background-color: transparent;
}

.invite-toGame-button {
    font-family: 'Millimetre', sans-serif;
    font-size: 16px;
    color: #D9F3E2;
    margin-right: 15px;

}

.invite-toGame-friend-item {
    height: 60px;
    width: 250px;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
    ;

    background-color: transparent;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.invite-toGame-friend-item td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90px;
}

.invite-profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.noUsers {
    font-family: 'Millimetre', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 60px;
    color: #FAF3DD;
}

.invite-users-list {
    max-height: 200px;
    overflow-x: hidden;
    margin-right: 5px;
}

.users-list.scroll {
    overflow-y: auto;
}

.users-list.scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #2a2c31;
}

.users-list.scroll::-webkit-scrollbar-thumb {
    border: 2px solid #000000;
    border-radius: 20px;
    background-color: #AED9E0;
}