.centerLineMiniPong {
    width: 0.5%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: repeating-linear-gradient(to bottom,
            transparent,
            transparent 10px,
            white 10px,
            white 20px);
    opacity: 0.5;
}
/* Skin Board */

.defaultBoardMiniPong {
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    background: radial-gradient(circle, #5E6472 0%, #24272c 100%);
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.oldBoardMiniPong {
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    background: black;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.pingPongBoardMiniPong {
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    background: #008000;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.npatronBoardMiniPong {
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    background-image: url("../../assets/game/npatron.png");
    background-size: cover;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.galaxyBoardMiniPong {
    background: radial-gradient(circle, #1a1a2e 0%, #16213e 70%, #0f3460 100%);
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }

.retroGridBoardMiniPong {
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 20px 20px;
  }

  .gradientBoardMiniPong {
    background-image: url("../../assets/game/gradient.png");
    background-size: cover;
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .ballBoardMiniPong {
    background-image: url("../../assets/game/ball.png");
    background-size: cover;
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }

  .ball2BoardMiniPong {
    background-image: url("../../assets/game/ball2.png");
    background-size: cover;
    width: 100%;
    aspect-ratio: 4 / 3;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
  }

/* Skin Ball */

.defaultBallMiniPong {
    width: 3%;
    aspect-ratio: 1 / 1;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
}

.blueBallMiniPong {
    width: 3%;
    aspect-ratio: 1 / 1;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 50%;
    position: absolute;
}

.neonBallMiniPong {
    width: 3%;
    aspect-ratio: 1 / 1;
    background: black;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #00ffff;
    animation: neonGlow 2s infinite alternate;
}

.oldBallMiniPong {
    width: 3%;
    aspect-ratio: 1 / 1;
    background: rgb(255, 255, 255);
    position: absolute;
}

.pingPongBallMiniPong {
    width: 3%;
    aspect-ratio: 1 / 1;
    background: #FFD700;
    border-radius: 50%;
    position: absolute;
}

.radientBallMiniPong {
    width: 3%;
    aspect-ratio: 1 / 1;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 50%;
    position: absolute;
}

.glassBallMiniPong {
    width: 3%;
    aspect-ratio: 1 / 1;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(173, 216, 230, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
  }

/* Skin Paddle */

.defaultPaddleMiniPong {
    width: 1.5%;
    height: 20%;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 30%;
}

.radientPaddleMiniPong {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    width: 1.5%;
    height: 20%;
    position: absolute;
    border-radius: 30%;
}

.neonPaddleMiniPong {
    background: black;
    width: 1.5%;
    height: 20%;
    position: absolute;
    display: block;
    box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #00ffff;
    animation: neonGlow 2s infinite alternate;
    border-radius: 30%;
}

@keyframes neonGlow {
    0% {
        box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #00ffff;
    }

    50% {
        box-shadow: 0 0 15px #ff00ff, 0 0 25px #00ffff, 0 0 40px #00ffff;
    }

    100% {
        box-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff, 0 0 30px #00ffff;
    }
}

.redPaddleMiniPong {
    background: #FF0000;
    width: 1.5%;
    height: 20%;
    position: absolute;
    border-radius: 30%;
}

.glassPaddleMiniPong {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.6);
    width: 1.5%;
    height: 20%;
    position: absolute;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 30%;
  }

  .firePaddleMiniPong {
    background: linear-gradient(90deg, #ff4500, #ffa500, #ff4500);
    width: 1.5%;
    height: 20%;
    position: absolute;
    display: block;
    box-shadow: 0 0 15px rgba(255, 69, 0, 0.8), 0 0 30px rgba(255, 165, 0, 0.5);
    animation: fireGlow 2s infinite alternate;
    border-radius: 30%;
  }
